<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/_sass/styles.css' | relative_url }}">
</head>

<body>
    <div class="container">
        <div class="column">{{ content | split: '## ' | first }}</div>
        <div class="column">{{ content | split: '## ' | slice: 1, 1 | first | prepend: '## ' }}</div>
        <div class="column">{{ content | split: '## ' | last | prepend: '## ' }}</div>
    </div>
</body>

</html>
